:root {
  /* --blueGradiant: #3B2A9F;
  --secondary: #FA8305; */
  --black-700: #000;
    --secondary: #fa8305;
    --blueGradiant: #3B2A9F;
    --box_bg: #1C140F;
    --primary-100: #5141AA;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

body{
  font-family: Poppins;
}

.bg-purple{
  background-color: var(--blueGradiant);
}

.PY1D{
    background-color: #5141AA;
}  

.PY2D{
    background-color: #cb078d;
}  